page-apresentacao {
  #itemLista{
    border-radius: 10px;
    background-color: #2d373a;
    color: white;
  }
  #listadentro{
    border-radius: 15px;
    background-color: #3e4c50;
    color: white;
  }
}
