// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.background-app{
  // background: linear-gradient(to bottom right, rgb(192, 203, 255), rgb(253, 253, 253));
  background: #46575e;
}

.navbar{
  background: rgb(75, 70, 70);
}

.text-justify{
  text-align: justify;

}

.activeHighlight{
  background-color: map-get($colors, dark);
}

#buttonmenu{
  background-color: rgba(34, 34, 34, 0);
  color: white;
}

#imagemmenu{
  margin-top: -20%;
  margin-bottom: -15%;
}
