page-feedevento {
  .card-tela-principal{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
  }

  .text-style{
    color: rgba(2, 6, 70, 0.986)
  }

  .img{
    border-radius: 10px;
  }
}
